body {
  color : #000000;
  background : #ffffff;
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt;
}

#content{
    color:#000000;
}

h3{
    color:#000000;
}

h2{
    color:#000000;
}

h4{
    color:#000000;
}

p{
    color:#000000;
}

ul{
    color:#000000;
}

a {
  text-decoration : underline;
  color : #0000ff;
}

#navigation{ 
  display : none; 
}

a:link:after, a:visited:after { content:" [" attr(href) "] "; }