/*-----Struktur-----*/

body{
    background:#FBFEDF;
}

#header{
    width:1200px;
    height:150px;
    background:#5CCCCC;
    margin-right:auto;
    margin-left:auto;
}

section{
    width:1200px;
    min-height:2000px;
    background:#FBFEDF;
    margin-right:auto;
    margin-left:auto;
}

#navigation{
    width:10%;
    height:auto;
    background:#B3EDEB;
    float:left;
}

#content{
    width:90%;
    height:auto;
    max-height:2000px;
    background:#B3EDEB;
    float:right;/*Vara på höger sida*/
}

#footer{
    width:1200px;
    height:20px;
    background:#5CCCCC;
    margin-right:auto;
    margin-left:auto;
    
}

img {
    border:4px solid; 
    border-color:#278F8B;
}
/*-----Typografi-----*/

h1{
    padding:0px;
    margin:0px;
    color:#375F89;
    font-size:60px;
    font-family:Adobe Fangsong Std R;
}

h2{
    padding:0px;
    margin:5px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

p{
    padding:0px;
    margin:10px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

div{
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}


/*-----Navigation-----*/

nav ul{
    list-style-type:none; /*ta bort punkt*/
    padding:0px;
    margin:0px;
}

nav li{
    margin:5px;
}

nav a{
    color:#FFF;/*byta färg*/
    background:#B3EDEB;/*byta bakgrund*/
    padding:5px;
    text-decoration:none;/*blocka bort streck under*/
    display:block; /*möjlighet att trycka på hela raden*/
    text-transform:uppercase;/*alla tecken stora*/
    font-family:Adobe Fangsong Std R;
    font-size:14px;
}

nav a:hover{
    background:#FFF;
}










