/*-----Struktur-----*/

body{
    background:#FBFEDF;
}

#header{
    width:1200px;
    height:180px;
    background:#5CCCCC;
    background-image:url(Logga.png);
    background-repeat:no-repeat;
    background-position:center 10px;
    background-size:150px;
    margin-right:auto;
    margin-left:auto;
}

section{
    width:1200px;
    height:auto;
    background:#FBFEDF;
    margin-right:auto;
    margin-left:auto;
}

#navigation{
    width:10%;
    height:auto;
    background:#B3EDEB;
    float:left;
}

#content{
    width:90%;
    height:auto;
    float:right;/*Vara på höger sida*/
    background:#B3EDEB;
    background-image:url(himmel.jpg);
    background-size:100px;
    background-position:right top 2.5px;
    background-repeat:no-repeat;
}


#footer{
    width:1200px;
    height:20px;
    background:#5CCCCC;
    margin-right:auto;
    margin-left:auto;
    clear:both;/*löser problemet med float*/
    
}


/*-----Typografi-----*/

h1{
    padding:8px;
    margin:0px;
    color:#375F89;
    font-size:60px;
    font-family:Adobe Fangsong Std R;
}

h2{
    padding:8px;
    margin:5px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

h3{
    padding:10px;
    margin:3px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

h4{
    padding:10px;
    margin:3px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

p{
    padding:0px;
    margin:5px;
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

#content p{
    margin-left:50px;
}



div{
    color:#375F89;
    font-family:Adobe Fangsong Std R;
}

a:hover{
    text-decoration:underline;
}

/*-----Navigation-----*/

ul{
    list-style-type:none; /*ta bort punkt*/
    padding:0px;
    margin:0px;
}

li{
    margin:5px;
}

a{
    color:#FFF;/*byta färg*/
    background:#B3EDEB;/*byta bakgrund*/
    padding:5px;
    text-decoration:none;/*blocka bort streck under*/
    display:block; /*möjlighet att trycka på hela raden*/
    text-transform:uppercase;/*alla tecken stora*/
    font-family:Adobe Fangsong Std R;
    font-size:14px;
}

nav a:hover{
    background:#FFF;
}

#active{
    font-weight:bold;
    color:#375F89;
}

/*-----Bilder-----*/

img {
    border:4px solid; 
    border-color:#278F8B;
    margin:5px;
    margin-left:50px;
}

.mönster{
    float:right;
    margin-left:20px;
}

/*-----Tabell-----*/
table{ 
    border-collapse: collapse;
    font-family: Futura, Adobe Fangsong Std R, sans-serif;
    margin:20px;
}
caption{ 
    font-size: larger; 
    margin: 1em auto; 
}
th, td{ 
    padding: .65em; 
}
th, thead{ 
    background: #000; 
    color: #fff; 
    border: 1px solid #000;
}
td{ 
    border: 1px solid #777; 
}






