.red {
	
	width: 300px;
	height: 10px;
	padding: 10px;
	background-color: red;
	border: solid black 1px;
}

.half {
	width: 300px;
	height: 10px;
	/*display: display;*/
	padding: 10px;
	float: left;
	border: solid black 1px;
}